:root {
    --background_color: rgba(14, 16, 61, 0.9);
    --background_color_very_light: rgba(28, 32, 122, 0.3);
    --background_color_light: rgba(28, 32, 122, 0.5);
    --background_color_dark: rgba(7, 8, 30, 0.9);
}
* {
    font-weight: 400;
}
/* navbar */
.navbar {
    border-radius: 0px 0px 16px 16px;
    background-color: var(--background_color_light);
    padding: 8px;
    flex-wrap: wrap;
}
.nav-item-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin: 0px 4px;
    border-radius: 16px;
    background-color: var(--background_color_light);
    text-decoration: none;
    transition: background-color 0.2s;
}
.nav-item-custom:hover {
    background-color: var(--background_color_dark);
}
.nav-item-custom p {
    color: white;
    font-size: 20px;
}
.nav-item-custom .material-symbols-rounded {
    font-size: 32px;
}
.btn-custom {
    background-color: var(--background_color_light);
    color: white;
    font-weight: 600;
    transition: background-color 0.2s, color 0.2s;
    margin: 0px 4px;
    padding: 8px;
    border-radius: 8px;
    border: 0px;
}
.btn-custom:hover {
    background-color: var(--background_color_dark);
    color: orange;
}
/* login */
@media screen and (max-width: 768px) {
    #info_login {
        flex-direction: column;
    }
}
#login-box {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 32px;
    padding: 32px;
}
#info h1 {
    color: var(--background_color);
}
#info i {
    font-size: 20px;
    color: green;
}
#login-form, #register-form {
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 480px;
    padding: 16px;
    transition: scale 0.2s;
}
#login-form:hover, #register-form:hover {
    scale: 1.025;
}
#login-form a, #register-form a {
    color: var(--background_color_dark);
    cursor: pointer;
}
#login-form form, #register-form form {
    padding: 16px 0px;
    width: 100%;
}
.btn-custom-login {
    border-radius: 8px;
    font-size: 20px;
    background-color: var(--background_color_dark);
    color: white;
    border: 0px;
    width: 100%;
    padding: 8px;
    font-weight: 400;
    transition: background-color 0.2s;
}
.btn-custom-login:hover {
    background-color: var(--background_color_light);
    color: white;
}
.transparent {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 32px;
    border-radius: 16px;
}
.toast-header {
    background-color: var(--background_color_light);
    color: white;
}
.jumbotron {
    background-color: var(--background_color_very_light);
    padding: 16px;
    border-radius: 16px;
    color: var(--background_color_dark);
    text-align: center;
    margin-top: 16px;
}